Please fill up the following
* **Student Name:** Abhijit Khuperkar
* **Student ID:** 10150121
* **Student Email ID:** abhijit.bdapm10150121@spjain.org
* **Student GitHub Repo:** https://github.com/akhuperkar

# DPSC Assignment 1

## Instructions

For each of the tasks below, write relevant R code in the cells and execute the cells before submission.

### Problem 1

Is the following a DataFrame?

control | pre-heated | pre-chilled
-------- | ---------- | ----------
5.9 | 5.8  | 6.1
6.2 | 7.3  | 6.3
8.2 | 5.4  | 7.1
5.8 | 6.3  | 6.9

**Ans: ** 
* The above dataset is not a DataFrame. Key observations - 
  - The dataset has two distinct variables - 1) Temperature type, 2) Temperature
  - The dataset does not qualify as dataframe, as data is not organized by the two distinct variables 
* To qualify as a dataframe, the dataset can be transformed as follows

Temperature Type | Temperature 
-------- | ---------- 
contol | 5.9  
contol | 6.2  
contol | 8.2  
contol | 5.8  
pre-heated | 5.8  
pre-heated | 7.3  
pre-heated | 5.4  
pre-heated | 6.3  
pre-chilled | 6.1
pre-chilled | 6.3
pre-chilled | 7.1
pre-chilled | 6.9

### Problem 2

Import the *titanic.csv* file (present in the *data* folder of the repository, don't move it elsewhere or your pull request will be rejected) and create a statistical summary of the variables. Read the DataFrame into a variable called *titanic*.

In [1]:
# reading the fil using read.csv function
titanic <- read.csv("/home/akhuperkar/bdap2015/data/titanic.csv", header = TRUE, stringsAsFactors = TRUE)

# note the numeric values of the variables including 'Survived', 'Pclass', 'SibSp', 'Parch' actually represent 
# the categorical levels. Hence, coercing these variables into factors.
titanic$Survived <- as.factor(titanic$Survived) #two levels for 'Survived', coerced numeric codes as factors 
titanic$Pclass <- as.factor(titanic$Pclass)     #three levels for 'Pclass', coerced numeric codes as factors
titanic$SibSp <- as.factor(titanic$SibSp)       #seven levels for 'SibSp', coerced numeric codes as factors
titanic$Parch <- as.factor(titanic$Parch)       #seven levels for 'Parch', coerced numeric codes as factors 

# generating statistical summary for variables
summary(titanic)

  PassengerId    Survived Pclass                                     Name
 Min.   :  1.0   0:549    1:216   Abbing, Mr. Anthony                  :  1
 1st Qu.:223.5   1:342    2:184   Abbott, Mr. Rossmore Edward          :  1
 Median :446.0            3:491   Abbott, Mrs. Stanton (Rosa Hunt)     :  1
 Mean   :446.0                    Abelson, Mr. Samuel                  :  1
 3rd Qu.:668.5                    Abelson, Mrs. Samuel (Hannah Wizosky):  1
 Max.   :891.0                    Adahl, Mr. Mauritz Nils Martin       :  1
                                  (Other)                              :885
     Sex           Age        SibSp   Parch        Ticket         Fare
 female:314   Min.   : 0.42   0:608   0:678   1601    :  7   Min.   :  0.00
 male  :577   1st Qu.:20.12   1:209   1:118   347082  :  7   1st Qu.:  7.91
              Median :28.00   2: 28   2: 80   CA. 2343:  7   Median : 14.45
              Mean   :29.70   3: 16   3:  5   3101295 :  6   Mean   : 32.20
              3rd Qu.:38.00   4: 18   4:  4   347088  :  6   3rd Qu.: 31.00
              Max.   :80.00   5:  5   5:  5   CA 2144 :  6   Max.   :512.33
              NA's   :177     8:  7   6:  1   (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186

### Problem 3

For the DataFrame *titanic*

* Calculate the mean of all the numeric columns.
* Add its column sums to the original matrix as an additional row. Use *NA* for non-numeric columns.

In [2]:
# Identifying numeric columns of 'titanic' dataframe
nums <- sapply(titanic, is.numeric)
t(nums)                          # prints logical values of the numeric columns

# Extracting means for Age amd Fare, which are the only numeric variables 
a <- summary(titanic$Age)["Mean"]
f <- summary(titanic$Fare)["Mean"]

# Creating a vector of means of all columns
means <- as.vector(c(NA, NA, NA, NA, NA, a, NA, NA, NA, f, NA, NA))

# Adding means vector to the dataframe
titanicM <- rbind(titanic, means)
tail(titanicM)                   # column means appended as last row #892 into the dataframe

     PassengerId Survived Pclass  Name   Sex  Age SibSp Parch Ticket Fare Cabin
[1,]        TRUE    FALSE  FALSE FALSE FALSE TRUE FALSE FALSE  FALSE TRUE FALSE
     Embarked
[1,]    FALSE

    PassengerId Survived Pclass                                     Name    Sex
887         887        0      2                    Montvila, Rev. Juozas   male
888         888        1      1             Graham, Miss. Margaret Edith female
889         889        0      3 Johnston, Miss. Catherine Helen "Carrie" female
890         890        1      1                    Behr, Mr. Karl Howell   male
891         891        0      3                      Dooley, Mr. Patrick   male
892          NA     <NA>   <NA>                                     <NA>   <NA>
     Age SibSp Parch     Ticket  Fare Cabin Embarked
887 27.0     0     0     211536 13.00              S
888 19.0     0     0     112053 30.00   B42        S
889   NA     1     2 W./C. 6607 23.45              S
890 26.0     0     0     111369 30.00  C148        C
891 32.0     0     0     370376  7.75              Q
892 29.7  <NA>  <NA>       <NA> 32.20  <NA>     <NA>